"""
本地开发的配置文件
"""
from web.settings import *

DEBUG = True

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "HOST": "127.0.0.1",
        "USER": "root",
        "NAME": "test_cpass",
        "PASSWORD": "password",
        "PORT": "",
    },
}

INSTALLED_APPS += [
    'django_extensions',
    # 'debug_toolbar',
    # 'debug_test',
]

MIDDLEWARE += [
    # 'debug_toolbar.middleware.DebugToolbarMiddleware',
]

# redis cache server
REDIS_CACHE_SETTINGS = {
    'host': "127.0.0.1",
    'port': 6379,
    'auth': None,
    'db': 10
}